.div-login{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;
}

#input-username, #input-password{
    margin-bottom: 10px;
}

.button {
    border-radius: 8px;
    font-size: 16px;
    background-color: #61db49;
    color: #252525;
    padding: 5px 15px;

}

.hora{
    font-family:'Courier New', Courier, monospace;
}

.resp{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#0033be;
}

.cep{
    border-radius: 4px;
    border: 1px solid green;
    width: 150px;
    height: 30px;
    font-size:large ;
    text-align: center;
}

.btn-order {
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    transition: 0.3s;
    border-radius: 8px;

}

.btn-order:hover {
    background-color: rgb(211, 211, 211);
}

.icon-order-active {
    color: rgb(65, 139, 236);
}

.order-up{
    margin-bottom: -10px;
}

.order-down{
    margin-top: -10px;
}

.pagination {
    display: inline-block;
}

  .pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border:none;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #FFFFFF;
  }

  .pagination button.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }

  .pagination button:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

.label-cep {
    padding-right: 0px;
}
